@import "styles/vars";

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: $primary-color;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: $duration;

  &:hover {
    background: darken($primary-color, 10);

    .items::before {
      transform: translateY(-5px);
    }
  }
}

.total {
  margin-right: 10px;
  &::after {
    position: relative;
    top: 0;
    left: 5px;
    content: '|';
  }
}

.items {
  &::before {
    position: relative;
    top: 3px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url('/images/icon-cart.svg') 0 / contain no-repeat;
    content: '';
    transition: $duration;
  }
}