.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 40px;
}

.image {
  display: block;
  margin: 0 auto;
}