// Breakpoints
$breakpoints: (
  xl: 1300,
  lg: 1024,
  md: 768,
  sm: 470,
);

$padding: 50px;
$padding-md: 30px;
$padding-sm: 10px;

$primary-color: #FE5F1E;
$secondary: #D3D3D3;
$disabled-color: #CACACA;

$duration: .3s