@import 'styles/vars';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.h2 {
  display: flex;
  align-items: center;

  &::before {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('/images/icon-table.svg') 0 / contain no-repeat;
    content: '';
  }
}

.clear {
  display: flex;
  align-items: center;
  border: 0;
  background: #fff;
  color: #B6B6B6;
  cursor: pointer;
  font-size: 16px;
  transition: $duration;

  &::before {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('/images/icon-trash.svg') 0 / contain no-repeat;
    content: '';
  }

  &:hover {
    color: darken(#B6B6B6, 20)
  }
}

.label {
  display: block;
  margin-bottom: 20px;
}

.checkbox {
  margin-right: 10px;
}