@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

$blue: #2196f3;
$blueLighten3: #90caf9;
$blueLighten4: #bbdefb;
$blueLighten5: #e3f2fd;
$blueDarken1: #1e88e5;
$blueDarken2: #1976d2;
$blueDarken3: #1565c0;
$blueDarken4: #0d47a1;

body {
  font-family: 'Lora';
}

a {
  color: $blue;

  &:hover {
    color: $blueDarken2;
  }
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: $blueLighten4;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    list-style: none;
  }

  &__item {
    margin-right: 1rem;
  }

  .active {
    color: $blueDarken4;
  }
}

.form {
  & input[type='text'],
  input[type='email'],
  input[type='password'] {
    margin-right: 0.5rem;
    padding: 0.5rem;
    outline: none;
    border: 1px solid $blueLighten3;
    border-radius: 3px;

    &:focus {
      border: 1px solid $blue;
    }
  }

  & button {
    color: #fff;
    padding: 0.5rem 1.5rem;
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $blueDarken1;
    }

    &:active {
      background-color: $blueDarken2;
    }
  }
}

.profile {
  ul {
    padding: 0;
  }
  border-top: 2px solid $blueLighten3;
  border-bottom: 2px solid $blueLighten3;
  padding-bottom: 1rem;
}

.loader {
  border: 16px solid $blueLighten3;
  border-top: 16px solid $blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.news {
  padding-bottom: 1rem;
}
