@import 'styles/vars';
@import 'styles/mixins';

.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: $padding;
  background: #ffdf8c;

  @include mq(md) {
    padding: $padding-md;
  }
  @include mq(sm) {
    padding: $padding-sm;
  }
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;

  @include mq(xl) {
    max-width: 100%;
  }
}

.main  {
  flex: 1 0 auto;
  flex-grow: 1;
  padding: 40px;
  background: #fff;

  @include mq(lg) {
    padding: $padding-md;
  }

  @include mq(sm) {
    padding: $padding-sm;
  }
}

.footer {
  flex-shrink: 0;
  padding: 40px;
  border-top: 1px solid #F6F6F6;
  background: #fff;
  border-radius: 0 0 10px 10px;
  text-align: center;
}