@import 'styles/mixins';

.form {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @include mq(sm) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.input {
  display: block;
  width: 100%;
  max-width: 150px;
  padding: 5px 10px;
  border: 0;
  margin-bottom: 5px;
  border-radius: 3px;

  @include mq(md) {
    max-width: 200px;
  }

  @include mq(sm) {
    max-width: 100%;
  }
}