@import 'styles/vars';

.button {
  padding: 10px 60px;
  border: 1px solid $primary-color;
  background: #fff;
  border-radius: 30px;
  color: $primary-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: $duration;

  &:hover {
    background: $primary-color;
    color: #fff;
  }
}

.disabled, .disabled:hover {
    border: 1px solid $disabled-color;
    background: #fff;
    color: $disabled-color;
}
