@import 'styles/vars';

.button {
  padding: 10px 60px;
  border: 1px solid $primary-color;
  background: #fff;
  border-radius: 30px;
  color: $primary-color;
  cursor: pointer;
  font-weight: 600;
  transition: $duration;

  &:hover {
    background: $primary-color;
    color: #fff;
  }
}
