.card {
  max-width: 280px;
  margin-bottom: 71px;
}

.image {
  width: 100%;
  max-width: 260px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center  ;
}

.description {
  margin: 10px;
  text-align: justify;
}