@import 'vars';

.btn {
  display: inline-block;
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
  min-height: 30px;

  &-remove {
    background: tomato;
    color: white;
  }

  &-add {
    background: #42b983;
    color: white;
  }

  &-change {
    background: #e4c92e;
    color: white;
    margin-right: 10px;
  }

  &-cancel {
    background: darkRed;
    color: white;
    margin-right: 10px;
  }
}

.error {
  padding: 20px 0;
  color: tomato;
}
