.card {
  display: flex;
  max-width: 280px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 71px;
}

.image {
  width: 100%;
  max-width: 260px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.description {
  flex-grow: 1;
  margin: 10px 10px 20px;
  text-align: justify;
}